#item img{
    border-radius: 1em;
    width: 100%;
    height: 12em;
}


/*#item{*/
    /*background-color: transparent;*/
    /*font-size:1.5em;*/
    /*min-height: 2.5em;*/
    /*margin-bottom: 2em;*/
    /*padding-top: 1em;*/
    /*padding-bottom: 1em;*/

    /*margin-right: 0.2em;*/
    /*!*border-style: solid;*!*/
    /*!*border-width: 1px;*!*/
    /*border-radius: 0.5em;*/
    /*box-shadow: 0 0 1em rgba(0,0,0,0.5);*/
    /*transition-duration: 0.2s;*/
/*}*/

/*#item:hover {*/
    /*background-color: rgba(0,0,0,0.2);*/
    /*color: white;*/
    /*font-weight: 600;*/
    /*transform: scale(1.1);*/


/*}*/


[id*="item-"] {
    background-color: transparent;
    font-size:1.5em;
    min-height: 2.5em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

    margin-right: 0.2em;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    transition-duration: 0.2s;
}
[id*="item-"] img{
    border-radius: 1em;
    width: 100%;
    height: 12em;
}
/*[id*="item-"]:hover {*/
    /*background-color: rgba(0,0,0,0.2);*/
    /*color: white;*/
    /*font-weight: 600;*/
    /*transform: scale(1.1);*/
/*}*/



#bigImgRow{
    height: 100vh;
}

#bigImg{

}

#bigImg img {
    height: 38em;
    width: 38em;
    margin-top: 1.5em;
    border-top-left-radius: 10em;
    border-bottom-right-radius: 10em;
    border-style: solid;
    border-color: white;
    border-width: 0.5em;
}
#bigImgX img{
    height: 5em;
    width: 5em;
    padding-top: 1.5em;
    padding-right: 1.5em;
    alignment: left;
}

#arrowLeft{
    height: 38em;
    width: 38em;
    padding-top: 1.5em;
    alignment: center;
}
#arrowLeft img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto;
}

#arrowRight{
    height: 38em;
    width: 38em;
    padding-top: 1.5em;
    alignment: center;

}

#arrowRight img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto;
}


/*--------------------------------------------------------------------- For mobile phones:  ---------------------------------------------------*/


@media only screen and (orientation: portrait)  {
    /* For mobile phones: */
    [id*="item-"]  img {
        border-radius: 1em;
        /*width: 12em;*/
        /*height: 10em*/

        /*float: right;*/
        width: 100%;
        height: 6em;
    }

    #bigImg img {
        height: 38em;
        width: 38em;
        margin-top: 1.5em;
        border-top-left-radius: 10em;
        border-bottom-right-radius: 10em;
        border-width: 1em;
    }
    #bigImg  {

        width: 38em;

    }

    #bigImgX img{
        padding-right: 5em;
    }

    #bigImgX img{
        height: 4em;
        width: 7em;
        padding-top: 1.5em;
        padding-right: 5em;
        alignment: left;
    }


}


