
[id*="table_item" ] {
    transition: 500ms;
    z-index: 6;

}

[id*="table_item" ] img{
    padding: 2em;
    width: 100%;
    height: 100%;

}

#table_item-0 {
    transition: 500ms;
}

#table_item-0 img{
    width:75%;
    height:20em;
    margin-left: 12.5%;
}



@media only screen and (orientation: portrait) {


    [id*="table_item" ] {
        transition: 500ms;
    }

    [id*="table_item" ] img{
        padding: 0.1em;
        width: 100%;
        height: 100%;
    }

    /*#table_item-0 {*/
        /*transition: 500ms;*/
    /*}*/

    /*#table_item-0 img{*/
        /*width:75%;*/
        /*height:25em;*/
        /*margin-left: 12.5%;*/
    /*}*/

}